.todo__tasks {
  background: #282a2e;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  width: 260px;
}

._scroll {
  overflow-y: scroll;
  max-height: 620px;
}

.tasks__title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

.tasks__list {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
