.todo {
  background: #222327;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  gap: 40px;
}

html,
body {
  font-family: Helvetica, "sans-serif";
}

// .pan1 {
//   width: 200px;
//   min-width: 200px;
//   top: 0;
//   left: 0;
//   bottom: 0;
// }

.pan1{
  position: relative;
}

.pan2 {
  width: auto;
}

#resize {
  position: absolute;
  top:0;
  right: 0;
  width: 5px;
  height: 100%;
  z-index: 1;
  cursor: e-resize;
}
