.todo {
  background: #222327;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  gap: 30px;
}

html,
body {
  font-family: Helvetica, "sans-serif";
}


#resize {
  position: absolute;
  top:0;
  right: 0;
  width: 5px;
  height: 100%;
  z-index: 1;
  cursor: e-resize;
}
