.todo__search {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.search__input {
  width: 100%;
}

.search__clear {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: #2B6CB0;
  padding: 5px 15px;
  border-radius: 30px;
  margin-bottom: 20px;
}
