.todo__edit {
  padding: 20px;
  flex: 1 1 50%;
  & h3 {
    margin-bottom: 10px;
  }
}

.edit__title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}

.edit__buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

// .edit__buttons ._btn:first-child{
//   background: red;
// }

.edit__buttons ._btn:nth-child(2) {
  background: #e53e3e;
  border: 2px solid #e53e3e;
  &:hover {
    background: #c53030;
  }

  &:focus {
    border: 2px solid white;
  }
}
